body {
    background: url('https://images-na.ssl-images-amazon.com/images/I/51pUYxREluL._AC_SY355_.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    text-shadow: 3px 2px black;
}

h1{
    background-color:rgba(255, 99, 71, 0.733) ;
    position: center;
     text-align: center
}

h3{
    background-color: rgba(65, 105, 225, 0.795);
    text-align: center;
}

p{
    background-color: rgba(221, 108, 33, 0.664);
}